@import 'variables';

.primary-bg {
  background-color: $primary !important;
}

.primary-color {
  color: $primary !important;
}

.secondary-bg {
  background-color: $secondary !important;
}

.secondary-color {
  color: $secondary !important;
}

.black-bg {
  background-color: $black !important;
}

.black-color {
  color: $black !important;
}

.white-bg {
  background-color: $white !important;
}

.white-color {
  color: $white !important;
}
