@media (min-width: 320px) and (max-width: 768px) {
  .nav-resize {
    width: 30px !important;
  }
  .image-resize {
    width: 70px !important;
  }
  .deco-image {
    width: 120px !important;
  }
}

@media (min-width: 1024px) and (max-width: 2000px) {
  .nav-resize {
    width: 50px !important;
  }

  .deco-image {
    width: 250px !important;
  }

  .image-resize {
    width: 120px !important;
  }
}
